#mainCalculator {
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: auto;
    background-color: black;
}
#display {
    height: 1cm;
    width: 4.5cm;
    font-size: large;
    color: black;
}
.row{
    background-color: grey;
}
.cell{
    height: 1cm;
    width: 1cm;
}
.button{
    height: 1cm;
    width: 1.1cm;
    font-size: large;
}
#equal{
    background-color: mediumvioletred;
}
#clearButton{
    height: 1cm;
    width: 2.3cm;
}